---
import Contact from '../components/Contact.astro';
import Github from '../components/icons/Github.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import Layout from '../layouts/Layout.astro';
import Mail from '../components/icons/Mail.astro';
import Tag from '../components/icons/Tag.astro';
import Book from '../components/icons/Book.astro';
import About from '../components/About.astro';
import Coffee from '../components/icons/Coffee.astro';
import '../styles/global.css';
import Studies from '../components/Studies.astro';

---

<Layout>
	<main class="px-4">
		<section class="scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl py-16 md:py-36">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hola, soy Juan David</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">Analista de datos en formación, entusiasta del frontend y estudiante de desarrollo de software</h2>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] flex flex-row text-blue-400">
				<Tag class="size-4 md:size-6"/>
				Medellin-Colombia
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<Contact href="https://www.linkedin.com/in/juan-david-jaramillo-dev/">
					<LinkedIn  class="size-4 md:size-6"/>
					LinkedIn
				</Contact>
				<Contact href="https://github.com/JdJara11">
					<Github  class="size-4 md:size-6"/>
					Github
				</Contact>
				<Contact href="mailto:davidjaramillogarcia@gmail.com">
					<Mail class="size-4 md:size-6"/>
					Gmail
				</Contact>
			</nav>
		</section>
		<section id="formacion" class="scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl py-16 md:py-36">
			<h2 class="text-2xl font-semibold mb-4 flex gap-x-3 items-center">
				<Book class="size-10"/>
				Formación Academica
			</h2>
			<Studies/>
		</section>
		<section id="sobre-mi" class="scroll-m-20 w-full mx-auto container mt-10 lg:max-w-4xl md:max-w-2xl py-16 md:py-36">
			<h2 class="text-2xl font-semibold mb-4 flex gap-x-3 items-center">
				<Coffee class="size-10"/>
				Sobre mi
			</h2>
			<About />
		</section>
	</main>
</Layout>
