---
import Contact from '../components/Contact.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'

---

<Layout>
	<main>
		<section>
			<h1>Hola, soy Juan David</h1>
			<h2>Analista de datos en formación, entusiasta del frontend y estudiante de desarrollo de software <span>Medellin-Colombia</span></h2>
			<nav>
				<Contact href="https://www.linkedin.com/in/juan-david-jaramillo-dev/">
					LinkedIn
				</Contact>
				<Contact href="https://github.com/JdJara11">
					Github
				</Contact>
				<Contact href="mailto:davidjaramillogarcia@gmail.com">
					Mail
				</Contact>
			</nav>
		</section>
	</main>
</Layout>
