<article id="sobre-mi" class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-blue-400 [&>p>strong]:font-normal [&>p>strong]:font-mono order-2 md:order-1">
        <p>
            Me llamo Juan David, Soy un aprendiz de <strong>Desarrollo de Software</strong>. Me encanta tomar un buen café, la buena música y adquirir nuevos conocimientos.
        </p>
        <p>
            Me estoy formando con énfasis en <strong>Análisis de datos y Frontend</strong>. Poco a poco voy desarrollando proyectos y aprendiendo más de cada área.
        </p>
        <p>
            Actualmente <strong>Estoy en busqueda de una oportunidad en el sector TI</strong>. Ya que me apasiona la tecnología y quiero consolidar mi aprendizaje, generar proyectos, crecer como persona y profesional.
        </p>
    </div>
    <img src="/portafolio/foto.jpeg" alt="Juan" width="200" height="200" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-blue-500/5 ring-1 ring-white/20" >
</article>