<footer>
    <div>
        <span>© 2025 JuanJG</span>
        <ul>
            <li>
                <a href="#top">Ir arriba</a>
            </li>
            <li>
                <a id="contacto" href="mailto:davidjaramillogarcia@gmail.com">Contactame</a>
            </li>
        </ul>
    </div>
</footer>