<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img 
        class="rounded-full shadow-lg size-12 bg-white" 
        src="favicon.svg" 
        alt="jd foto"
    />
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#formacion">Formación</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mi</a>
    </nav>
</header>